:root {
  --transition-speed: 200ms ease;
  --scroll-bar-track: #1e1e24;
}

.dark-theme {
  --text-primary: #b6b6b6;
  --text-secondary: #5b4a92;
  --text-tertiary: #9478f3;
  --text--placeholder: #ae97ff;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
  --bg-main: #130d21;
  --scroll-bar-thumb: #5b4a92;
}

.light-theme {
  --text-primary: #000f1d;
  --text-secondary: #002946;
  --text-tertiary: #084470;
  --text--placeholder: #0ab9db;
  --bg-primary: #e0f4ff;
  --bg-secondary: #b8dcfa;
  --bg-main: #8ec4f1;
  --scroll-bar-thumb: #002946;
}