@import '../../../sass/variables';
@import '../../../sass/themes';

.nav-item {
    width: 100%;
}

.nav-item:first-child {
    @include themify() {
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: 1rem;
        text-align: center;
        color: themed(textSecondary);
        background: themed(bgSecondary);
        font-size: 1.5rem;
        letter-spacing: 0.3ch;
        width: 100%;
    }
}

.nav-item svg {
    transform: rotate(0deg);
}

.nav-item:last-child {
    margin-top: auto;
}

.nav-link {
    @include themify() {
        display: flex;
        align-items: center;
        height: 4rem;
        color: themed(textPrimary);
        text-decoration: none;
        filter: grayscale(100%) opacity(0.5);
        transition: $transition-speed;
    }
}

.nav-link:hover :first-child {
    @include themify($themes) {
        filter: grayscale(0%) opacity(1);
        background: themed(bgSecondary);
        color: themed(textTertiary);
    }
}

.nav-link:hover {
    @include themify($themes) {
        filter: grayscale(0%) opacity(1);
        background: themed(bgSecondary);
        color: themed(textTertiary);
    }
}

.link-text {
    display: none;
    margin-left: 1rem;
}

.nav-link svg {
    width: 2rem;
    min-width: 2rem;
    margin: 0 1.5rem;
}