:root {
  --transition-speed: 200ms;
}

.dark-theme {
  --text-primary: #b6b6b6;
  --text-secondary: #5b4a92;
  --text-tertiary: #9478f3;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
  --bg-main: #130d21;
  --scroll-bar-track: #1e1e24;
  --scroll-bar-thumb: #5b4a92;
}

.light-theme {
  --text-primary: black;
  --text-secondary: #ef6c23;
  --text-tertiary: #ef9463;
  --bg-primary: #8c8c8c;
  --bg-secondary: #606060;
  --bg-main: #dddddd;
  --scroll-bar-track: #1e1e24;
  --scroll-bar-thumb: #ef6c23;
}